/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-feb-2016, 15.16.44
    Author     : Alex
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

.intestazione{
    background:#e2001a;
    padding:25px;
    width:100%;
    margin-bottom:40px;
}

.intestazione .field{
    margin:0;
    float:left;
    margin-right: 10px;
    width:100%;
}

.intestazione input[name=nome-cliente]{
    float:left;
    width:100%;
    margin-right:10px;
}
.intestazione .tipo-cliente{
    float:left;
}

.intestazione .radio > input, .intestazione .radio > label{
    float:left;
    width:auto;
    margin-right: 10px;
    height: 30px;
    line-height: 30px;
}


.intestazione input, .intestazione{
    font-size:16px;
    font-family: 'Open Sans Condensed', sans-serif;
    color:#000;
    font-weight: bold;
}

.intestazione input{
    margin-bottom:10px;
    height: 30px;
    padding:0px;
    padding-left:10px;
    padding-right: 10px;
    border:0px;
    width:100%;
}


#container-infissi h3.title-infisso{
    font-family:'Open Sans';
    font-size:24px;
    font-weight: bold;
    color:#000;
    text-transform: uppercase;
    padding-left: 25px;
}

#container-infissi .step{
    width:100%;
    display: block;
    background:#f2f2f2;
    height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:16px;
    font-weight: bold;
    color:#000;
    text-transform: uppercase;
    padding-left:25px;
    margin-bottom:10px;
}

#container-infissi .porta, #container-infissi .finestra{
    width:110px;
    height: 90px;
    min-height: 90px;
    border:0px;
    padding-top:70px;   
    margin-bottom:30px;
}

#container-infissi .porta, 
#container-infissi .finestra,
#container-infissi select[name=seleziona-ante],
#container-infissi input.ricerca,
#container-infissi .box.infisso p,
.table-misure td,
.table-misure td input,
#container-infissi input[name=conferma-misure],
.box p,
.box-2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:14px;
    font-weight: bold;
    color:#000;
    text-transform: uppercase;  
}

#container-infissi .istruzioni{
    font-family: 'Open Sans', sans-serif;
    font-size:13px;
    font-weight: normal;
    color:#000;
}

#container-infissi .istruzioni a{
    color:#E2001A;
    text-decoration: underline;
}

.table-misure td input{
    padding-left:15px;
}

#container-infissi .porta{
    background:url('../images/portafinestra.png') center 10px no-repeat;
    margin-left:45px;
}

#container-infissi .finestra{
    background:url('../images/finestra.png') center 10px no-repeat;
}

#container-infissi select[name=seleziona-ante]{
    height: 45px;
    padding: 0px 0px 0px 15px;
    margin-top:50px;
    margin-bottom:50px;
    float:left;
    margin-left:45px;
}

#container-infissi #show-img-infisso{
    float: right;
    width: 100%;
    height: 200px;    
    background-position: center center !important;
    background-repeat: no-repeat !important;
}


#container-infissi #show-img-infisso.f0{
    background:url('../images/finestra-ante-00.png');
}
#container-infissi #show-img-infisso.f1{
    background:url('../images/finestra-ante-01.png');
}
#container-infissi #show-img-infisso.p1{
    background:url('../images/portafinestra-ante-01.png');
}
#container-infissi #show-img-infisso.f2{
    background:url('../images/finestra-ante-02.png');
}
#container-infissi #show-img-infisso.p2{
    background:url('../images/portafinestra-ante-02.png');
}
#container-infissi #show-img-infisso.f3{
    background:url('../images/finestra-ante-03.png');
}
#container-infissi #show-img-infisso.p3{
    background:url('../images/portafinestra-ante-03.png');
}
#container-infissi #show-img-infisso.f4{
    background:url('../images/finestra-ante-04.png');
}
#container-infissi #show-img-infisso.p4{
    background:url('../images/portafinestra-ante-04.png');
}

#container-infissi input.ricerca, #container-infissi input[name=conferma-misure]{
    width:130px;
    height: 30px;
    color:#fff;
    background:#999;
    border:0px;
    line-height: 30px;  
    margin-left:45px;
    margin-bottom:30px;
}

#container-infissi input[name=conferma-misure]{
    clear:both;
    display:block;
}

.box {
    display:block;
    width:100px;
    min-height: 100px;
    border:1px solid black;
    /*background:green;*/
    float:left;
    margin-right:10px;
    text-align: center;
    cursor:pointer;
    margin-bottom:10px;
}

#container-infissi .selected, .box-2.selected,
#container-infissi .box.infisso.selected,
#container-infissi .selezione-apertura .box.selected,
#container-infissi .container-barra .box.selected{
    border:1px solid #e2001a !important;
}

#container-infissi .box.infisso{
    width:100%;
    margin:auto;    
    border:0px;
    background-position: center 40px !important;
    background-repeat: no-repeat !important;
    margin-bottom:25px;
    padding-bottom:25px;
}

#container-infissi .box.infisso.F0{
    background:url('../images/infisso-fisso-anta-00.png');
    min-height: 150px;
}
#container-infissi .box.infisso.F1, #container-infissi .box.infisso.P1{
    background:url('../images/infisso-apribile-anta-01.png');
    min-height: 380px;
}
#container-infissi .box.infisso.F2, #container-infissi .box.infisso.P2{
    background:url('../images/infisso-apribile-anta-02.png');
    min-height: 410px;
}
#container-infissi .box.infisso.F2L, #container-infissi .box.infisso.P2L{
    background:url('../images/infisso-apribile-anta-02-libro.png');
    min-height: 540px;
}
#container-infissi .box.infisso.F3, #container-infissi .box.infisso.P3{
    background:url('../images/infisso-apribile-anta-03.png');
    min-height: 540px;
}
#container-infissi .box.infisso.F3L, #container-infissi .box.infisso.P3L{
    
}
#container-infissi .box.infisso.P4{
    background:url('../images/infisso-apribile-anta-04.png');
    min-height: 520px;
}

.box-2 {
    display: block;
    width:100%;
    clear:both;
    cursor:pointer;
    margin-bottom:10px;
    border:1px solid black;    
    padding:10px;    
}

.box-2 div{
    float:left;   
    width:25%;
}
.box-2 div.nome{
    width:75%;
}

.selezione-infissi {    
    clear:both;
    float:none;
    width:100%;
    margin-top:20px;
    min-height: 10px;    
   
}

.clear {
    clear:both;
    display:block;
    width:100%;      
    margin-top:10px;
    margin-bottom:10px;
}

.selettore-box {
    border:2px solid black;
    width:350px;
    height:50px;
}

.selettore-box .selettore-show{
    border-right: 1px solid black;
    width:300px;
    height: 48px;
    float:left;
    
}
.selettore-box .selettore-arrow{
    border-left: 1px solid black;
    width:46px;
    height: 48px;
    float:right;
    cursor: pointer;
    background:url('../images/arrow_down.png') center center no-repeat ;
    
}

.select-ral, .select-micacei {
    display:none;
    position:absolute;
    z-index:10;
    border:2px solid black;
    border-top:none;
    margin-bottom: 20px;
    font-family: 'Open sans Condensed';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.select-ral div, .select-micacei div {
    height: 48px;
    width:346px;
    text-align:right;
    padding:12px;
    cursor:pointer;
    color:#333;   
}

.selettore-box .selettore-show div{
    height: 46px;
    width:299px;
    text-align:right;
    padding:11px;
}

.ral-9016 { background:rgb(241, 240, 234); }
.ral-9010 { background:rgb(241, 236, 225); }
.ral-7035 { background:rgb(197, 199, 196); }
.ral-7040 { background:rgb(152, 158, 161); }
.ral-9007 { background:rgb(135, 133, 129); }
.ral-9006 { background:rgb(161, 161, 160); }
.ral-7016 { background:rgb(56, 62, 66); }
.ral-7030 { background:rgb(146, 142, 133); }
.ral-8028 { background:rgb(81, 58, 42); }
.ral-6009 { background:rgb(39, 53, 42); }
.ral-8003 { background:rgb(126, 75, 38); }
.ral-8001 { background:rgb(157, 98, 43); }
.ral-6005 { background:rgb(17, 66, 50); }
.ral-3003 { background:rgb(134, 26, 34); }
.ral-1013 { background:rgb(227, 217, 198); }
.ral-9005 { background:rgb(14, 14, 16); }

.none {background: #fff}

.scuro-gr {background: #fff}
.marmo {background: #fff}
.opaco {background: #fff}
.antracite {background: #fff}
.brown {background: #fff}
.asfalto {background: #fff}


.select-ral div.text-white, .text-white{ color:#999 ; }

.select-ral div:hover{font-weight: bold;}
.select-ral div.text-white:hover {color:#fff}

.ral-box.selettore-box{
   
}

.tipo-ral{
    margin-top:-50px;    
    float:right;
}

.tipo-ral > input, .tipo-ral > label{
    float: left;
    width: auto;
    margin-right: 10px;
    height: 50px;
    line-height: 50px;
    font-family: 'Open sans Condensed';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color:#000;
}


.selettore-box .selettore-show div {
    color:#000;
    font-family: 'Open sans Condensed';
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.selettore-box .selettore-show div.text-white {color:#fff}

.step {
    display:block;
    width:100%;
    clear:both;
    margin-bottom:5px;
}

.ricerca, .selezione-misure, .selezione-apertura, .particolari-costruttivi, .maggiorazioni, .numero-infissi{
   
    clear:both;
}

.container-serratura, .container-nodo, .selezione-colore, .selezione-cerniera{
    
}

.message-box{
    width:75%;
    min-height: 200px;
    position:fixed;
    border:1px solid black;
    padding:20px;    
    top:0px;
    left:0px;
    margin-top:15%;
    margin-left:12.5%;
    background:#999;
    display:none;
}

.error-box h4{
    margin:0;
    margin-top:0px !important;
    margin-bottom:0px !important;
    padding:0;
}

.error-box .punto {
    margin-left:10px;
}

.table-misure {    
    margin-left:45px;
    margin-bottom: 10px;
    float:left;
}

.table-misure td{
    text-align: left;
    padding: 0;
    padding-top: 10px;
}

.table-misure td input{
    height: 30px;
    border:1px solid #E2001A
}

#container-infissi .selezione-apertura .box{
    width:140px;
    height:118px;
    border:0px;
    background-repeat:no-repeat !important;
    padding-top:90px;
    margin-right:5px;
    margin-top:10px;
}

#container-infissi .selezione-apertura p{
    margin-bottom:0px;
}

#container-infissi .selezione-apertura .separator{
    height: 135px;
    width:1px;
    background:#000;
    float:left;
    margin-right: 5px;
    margin-top:10px;
}

#container-infissi .selezione-apertura .box.si{
    background:url('../images/apertura-sinistra-interna.png') center 37px no-repeat;
}
#container-infissi .selezione-apertura .box.se{
    background:url('../images/apertura-sinistra-esterna.png') center 5px no-repeat;    
}
#container-infissi .selezione-apertura .box.di{
    background:url('../images/apertura-destra-interna.png') center 37px no-repeat;
}
#container-infissi .selezione-apertura .box.de{
    background:url('../images/apertura-destra-esterna.png') center 5px no-repeat;
}
#container-infissi .selezione-apertura .box.fx{
    background:url('../images/apertura-fissa.png') center 21px no-repeat;
    height: 135px;
}


#container-infissi .selezione-apertura .box.box-lungo{
    width:340px;
    height: 135px;
    background-repeat:no-repeat !important;
}

#container-infissi .selezione-apertura .box.box-lungo.interna{
    background:url('../images/apertura-interna.png') center 40px;
}
#container-infissi .selezione-apertura .box.box-lungo.esterna{
    background:url('../images/apertura-esterna.png') center 21px;
}


#container-infissi .clear.last{
    height: 30px;
}

#container-infissi .container-barra .box,
#container-infissi .container-serratura .box{
    width:100%;    
    border:0px;
}


#container-infissi .container-barra .box select {
    margin:auto;
    margin-top:10px;
}

#container-infissi .container-serratura .box{
    height:140px;
    padding-top:105px;
}

#container-infissi .container-serratura .box.serratura-leva{
    background:url('../images/serratura-leva.png') no-repeat center 10px;    
}
#container-infissi .container-serratura .box.serratura-cilindro{
    background:url('../images/serratura-clindro.png') no-repeat center 50px;
}

#container-infissi .container-serratura .box p{
    line-height: 15px;
}

#container-infissi .container-serratura .box p span{
    font-family: 'Open sans';
    font-size:8px;
    font-weight: normal;
    display:block;
}

#container-infissi .container-nodo .box{
    width:145px;
    height: 200px;
    margin-right: 5px;
    border:0px;
    padding-top:175px;
    background-repeat: no-repeat !important;
    background-position: center 10px !important;
}

#container-infissi .container-nodo .box.nodo-b{
    background:url('../images/nodo-b.png');
}
#container-infissi .container-nodo .box.nodo-d{
    background:url('../images/nodo-d.png');
}
#container-infissi .container-nodo .box.nodo-l{
    background:url('../images/nodo-l.png');
}
#container-infissi .container-nodo .box.nodo-g{
    background:url('../images/nodo-g.png');
}
#container-infissi .container-nodo .box.nodo-altro{
    background:url('../images/nodo-no.png');
}

.hidden{
    display: none;
}

.seleziona-anta.F{
    float:left;
    width:85px;
    height:150px;
    margin:0;
    padding:0;
    background:url('../images/finestra-anta.png') no-repeat center center;
    cursor: pointer;
}
.seleziona-anta.F.selected{
    background:url('../images/finestra-anta-selezionata.png') no-repeat center center;
}
.seleziona-anta.P{
    float:left;
    width:76px;
    height:200px;
    margin:0;
    padding:0;
    background:url('../images/portafinestra-anta.png') no-repeat center center;
    cursor: pointer;
}
.seleziona-anta.P.selected{
    background:url('../images/portafinestra-anta-selezionata.png') no-repeat center center;
}

.container-seleziona-anta {
    margin:auto;
}

#progress .bar {
    height: 18px;
    background: green;
}

/** TABLET **/
@media (min-width: 768px) {
    .intestazione .rivenditore{
        width:72%;
    }

    .intestazione .data-odierna{
        width:25%;
    }
    
    .intestazione input[name=nome-cliente]{
        float:left;
        width:73%;
    }
    
    .intestazione input[name=telefono-cliente]{
        float:left;
        width:35%;
        margin-right: 14px;
    }
    
    .intestazione input[name=mail-cliente]{
        float:left;
        width:60%;
    }
    
    #container-infissi .box.infisso{
        width:48%;
        margin:auto;
        margin-right: 1%;
        border:0px;
        background-position: center 40px !important;
        background-repeat: no-repeat !important;
        margin-bottom:25px;
    }
    
    #container-infissi #show-img-infisso{
        float: right;
        width: 350px;
        height: 200px;    
        background-position: center center !important;
        background-repeat: no-repeat !important;
    }

    .table-misure{
        width:50%;
    }
    
    #container-infissi .container-barra .barra-tonda,
    #container-infissi .container-serratura .box.serratura-leva{
        margin-left:45px;
    }
    
    #container-infissi .container-barra .box,
    #container-infissi .container-serratura .box{
        width:45%;
        margin-right:1%; 
    }
    
    .box-2 {
        display: block;
        width:95%;
        clear:both;
        cursor:pointer;
        margin-bottom:10px;
        border:1px solid black;    
        padding:10px;    
        margin-left:45px;
    }
}